.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: url("./images/Home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
